.f-color {
    color: #303030;
}

/* small screen */
.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #303030;
}

footer {
    background-color: #f9ae9b;
    margin-top: 10rem;
    margin-bottom: 0;
    padding: 4rem 3rem;
}

footer a {
    text-decoration: none;
    color: black;
}

/* large screen */
@media screen and (min-width: 992px) {
    .box-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .right-box {
        flex-basis: 50%;
    }

    .left-box {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 576px) {
    .media-partner img {
        width: 100%;
    }
}
