.f-color {
    color: #303030;
}

.btn-login {
    background-color: #e95c56;
    border: none;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 6px;
}

.link-pw {
    text-decoration: none;
    color: #303030;
}

/* small screen */
.inner-container {
    justify-content: center;
    display: block;
}

.right-box {
    display: none;
}

.img-custom {
    height: auto;
    width: 100%;
}

footer {
    background-color: #f9ae9b;
    margin-top: 10rem;
    margin-bottom: 0;
    padding: 4rem 3rem;
}

footer a {
    text-decoration: none;
    color: black;
}

/* large screen */
@media screen and (min-width: 992px) {
    .inner-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .right-box {
        flex-basis: 50%;
        display: flex;
    }

    .left-box {
        flex-basis: 50%;
        align-items: center;
        /* justify-content: center;
        display: flex; */
    }
}

@media screen and (max-width: 576px) {
    .media-partner img {
        width: 100%;
    }
}
